.poljeIspravno {
   -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
   -fx-control-inner-background: lightpink;
}

#btnDodaj{
   -fx-graphic: url("list-add.png");
}
#btnKraj{
   -fx-graphic: url("application-exit.png");
}
#btnObrisi{
   -fx-graphic: url("edit-delete.png");
}